/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

img {
    max-width: 100%;
}

body {
    background-color: #121212;
    color: white;
}

header,
footer {
    width: 100%;
    background: #1e1e1e;
    color: black;
}

.my-bgLightDark{
    background: #1e1e1e;
}

.my-card {
    &:hover {
        cursor: pointer;
        img{
            opacity: .3;
        }

        i{
            opacity: 1;
        }
    }

    i{
        transition: opacity .2s;
        opacity: 0;
    }

    img {
        transition: opacity .2s;
        height: 450px;
        object-fit: cover;
    }
}

.my-showCard {
    img {
        height: 100% !important;
        object-fit: cover;
    }
}